target/
!.mvn/wrapper/maven-wrapper.jar
/static/checkstyle-cachefile
/static/checkstyle-checker.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
